{{/* Google Fonts */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">

{{/* Process custom SCSS and inject into head */}}
{{ $scss := resources.Get "scss/custom.scss" | css.Sass | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $scss.Permalink }}" integrity="{{ $scss.Data.Integrity }}">
